*.orig
*.rej
*~
*.o
*.pyc
*.log
.idea
/openzwave/
build/
dists/
/archive/
*.egg
docs/_build/
OZW_Log.txt
OZW_Log.log
libopenzwave.egg-info
libopenzwave_api.egg-info
libopenzwave_lib.egg-info
_libopenzwave/_libopenzwave.cpp
zwscene.xml
zwbutton.xml
examples/pyozw.db
examples/zwcfg_*
examples/zwscene.xml
examples/zwbutton.xml
install.files
_libopenzwave/_libopenzwave*.so
_libopenzwave/_libopenzwave.egg-info/
_libopenzwave/_libopenzwave.cpp
openzwave.egg-info
libopenzwave_man.egg-info/
.coverage
.tests_user_path/
ftp.sh
pybind
lib.txt
log.txt
venv2/
venv3/
.pybuild/
.pypirc
open-zwave-master/
openzwave-git/
openzwave-embed/
tmp/
dist/
docs/html/
docs/joomla/
libopenzwave*.so
.pipcache
options.xml
dynamic.dockerfile
/docs/.doctrees/
/.eggs/
/vc*.pdb
/_libopenzwave/_libopenzwave.html
