setuptools>=65.5.0
wheel>=0.37.1
pyMSVC;sys_platform=='win32'
cython>=0.29.32
requests
Sphinx>=5.3.0
groundwork-sphinx-theme>=1.1.1
sphinx-sitemap>=2.2.0
sphinxcontrib-blockdiag>=3.0.0
sphinxcontrib-nwdiag>=2.0.0
sphinxcontrib-actdiag>=3.0.0
sphinxcontrib-seqdiag>=3.0.0
sphinxcontrib-fulltoc>=1.2.0
pyserial>=3.5
pycryptodome>=3.15.0
lxml>=4.9.1
pywin32>=223;sys_platform=='win32'
sdnotify;sys_platform=='linux'
sdnotify;sys_platform=='darwin'