setuptools
wheel
pyMSVC;sys_platform=='win32'
cython
requests
Sphinx>=2.1.0
groundwork-sphinx-theme>=1.1.1
sphinx-sitemap
sphinxcontrib-blockdiag
sphinxcontrib-nwdiag
sphinxcontrib-actdiag
sphinxcontrib-seqdiag
sphinxcontrib-fulltoc
pyserial
pycryptodome
lxml
pywin32>=223;sys_platform=='win32'
sdnotify;sys_platform=='linux'
sdnotify;sys_platform=='darwin'
https://github.com/kdschlosser/python-progressbar/archive/dd13d0cfe7f9a25e04143a01efc484f795715787.zip